<h1>Welcome to Brat Camp <%= @participant.parent %></h1>
<p>
  You have successfully registered your child for Brat Camp for this summer.<br>
</p>
<p>
  To login to our site, just follow this link: <%= @url %>.
</p>
<p>Thanks for becoming a part of the Brat Pack! We can't wait to have your child join us for the summer! </p> 