
<div class="containerb" align="center">
	  <img src="https://skycenters.com/upload/programs/1492458706summer-camp-2.jpg" alt="Snow" style="width:100%;">
      <div id="regcentered">
        

		<%= render 'form', participant: @participant %>

      </div>
	

		<%= link_to 'Home', root_path %>
</div>
