<div class="container">

<div class="row">
	<div class="col-md-6">

		  <img src="https://www.ventfitness.com/wp-content/uploads/2015/05/KidsCamp_Summer17Header.jpg" alt="kids" style="width:100%;">
		  <div class="bottom-left"></div>
		  <div class="top-left"></div>
		  <div class="top-right"></div>
		  <div class="bottom-right"></div>
		  <div class="centered">Register your kids for fun today!</div>
	</div>
	<div class="col-md-6">



<%= render 'form', participant: @participant %>

<%= link_to 'Back', participants_path %>
	</div>
</div>
</div>