





<div class="jumbotron2">
  <div class="container">
    
      <h1 class="diva">BratCamp Counselors Care about your Brats!</h1>
  
  </div>
</div>

<div class="container">
  <h2>Meet our Camp Counselors</h2>

  <div class="panel-group">
    <div class="panel panel-success">
      <p class="staffimg"> <%= image_tag("Jenny.jpg", size: 5, class: "img-responsive col-xs-2 staffimg") %></p>



      <div class="panel-heading">Meet Jenny!</div>
      <div class="panel-body"><%= image_tag("campfireicon.png", size: 0.25, class: "img-responsive col-xs-1") %>Jenny has been a BratCamp leader for 3 years. She teaches the children camp fire skills and safety and is a swimming instructor.

      </div>

    </div>
    <div class="panel panel-success">
      <p class="staffimg"> <%= image_tag("Nicole.jpg", size: 5, class: "img-responsive col-xs-2 staffimg") %></p>
      <div class="panel-heading">Meet Nicole!</div>
      <div class="panel-body"><%= image_tag("compassicon.png", size: 0.25, class: "img-responsive col-xs-1") %>Nicole has been a BratCamp leader for 2years. She is our lead naturalist and leads all of our nature walks.

      </div>

    </div>
    <div class="panel panel-default">
      <div class="panel-heading">Panel Header</div>
      <div class="panel-body">Panel Content</div>
    </div>
  </div>
</div>
</div>
