  <div class="container">
  <div class="well">
    <div class="row">
	
    	<div class="col-md-3">
    	
		      <h1>B.R.A.T. CAMP</h1>
		      <p>21525 Mishawaka Road</p>
		      <p>Grand Rapids, MN  55744</p>
		      <p>Phone: 1-877-LUV-BRAT</p>
		      <p>Email: information@brats.com</p>
		      <iframe width="300" height="300" frameborder="0" style="border:0"
			 src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDzml8riKzk-NGNuB9vyGjnYLF2iH74MzY&q=21525 Mishawaka Rd, Grand Rapids, MN 55744"
			 allowfullscreen>
			</iframe> 
		</div>

  		<div class="col-md-1"></div>
 		<div class="col-md-8">
 		<h1>CONTACT US</h1>


<form>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>

  <div class="form-group">
    <label for="exampleSelect1">What would you like more information about?</label>
    <select class="form-control" id="exampleSelect1">
      <option>Enrollment</option>
      <option>Send a brochure</option>
      <option>Please contact me</option>
      <option>Making a donation</option>
      
    </select>
  </div>
  
  <div class="form-group">
    <label for="exampleTextarea">Comments</label>
    <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
  </div>
  <div class="form-group">
    <label for="exampleInputFile">Upload a photo of your child!</label>
    <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
    <small id="fileHelp" class="form-text text-muted">This is some placeholder block-level help text for the above input. It's a bit lighter and easily wraps to a new line.</small>
  </div>
  
  <div class="form-check">
    <label class="form-check-label">
      <input type="checkbox" class="form-check-input">
      Add me to your mailing list!
    </label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
		</div>
		</div>
</div>
	</div>
</div>