<h1 align="center">Welcome to BratCamp!</h1>

<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<section class="section-white">
  <div class="container">

    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
          <img src="https://images.unsplash.com/photo-1448301566816-a036b4240d58?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=32caf648dd99da69859018f5e1698618&auto=format&fit=crop&w=1050&q=80/800x400" alt="...">
          <div class="carousel-caption">
            <h2>Siblings are welcome at BratCamp</h2>
          </div>
        </div>
        <div class="item">
          <img src="https://images.unsplash.com/photo-1518791803116-066afa367ff5?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=f4b0baf84fbfcda484caafd1e8c01c8f&auto=format&fit=crop&w=500&q=60/800x400" alt="...">
          <div class="carousel-caption">
            <h2>We have so many fun activities to choose from</h2>
          </div>
        </div>
        <div class="item">
          <img src="https://images.unsplash.com/photo-1502224749359-564dbd3332c5?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=1f8f1bbd7ad407d85901a7d2f76776e0&auto=format&fit=crop&w=984&q=80/800x400" alt="...">
          <div class="carousel-caption">
            <h2>Find yourself in the wild</h2>
          </div>
        </div>
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>

  </div>
</section>

<h2 align="center">BratCamp is the place where friendships and memories are made to last a lifetime</h2>
	<h3 align="center">We've got activities galore!</h3>