
<div class="jumbotron4">
  <div class="container">
     <h2>becoming a teen is hard work.</h2>
       <h4 style="color: #f9b931;">That's why we offer a special summer camp experience to help your preteen</h4>
         <h1 style="padding-left: 70px;"> <u>B</u><em>ecome a </em> <u>R</u><em>eally</em> <u>A</u><em>wesome </em><u>T</u><em>een.</em></h1>
     <br>
     <h1 style="padding-top: 160px; color: #f9b931;">B.R.A.T. Camp</h1>

      <h3>Where preteens find their <span style="color: #f9b931;">WINGS.</span></h3>
      
  
  </div>

<div class="container">
<div class="well2">


 






</div>
</div>
</div>