
<div class="jumbotron4">
  <div class="container">
    
      <h1>B.R.A.T. Camp</h1>
      <br>
      <h2>Where preteens find their wings.</h2>
      
  
  </div>
</div>
<div class="container">
<div class="well2">


  <h1>Becoming a Teen is hard work.</h1>
  <h2>That's why we offer a special summer camp experience to help your preteen</h2>
  <h1 class="pull-right"> <u>B</u><em>ecome a </em> <u>R</u><em>eally</em> <u>A</u><em>wesome </em><u>T</u><em>een.</em></h1>




</div>
</div>