
<div class="jumbotron3">
  <div class="container">
    
      <h1>Becoming a Teen is hard work.</h1>
      <h2>We're here to help.</h2>
  
  </div>
</div>
<div class="container">
<div class="well2">

	<h1>Let your preteen find their wings.</h1>

	<h3>B.R.A.T. Camp is funded through the America's Teen Alliance Program and has been in operation for more than 100 years. We pride ourselves on employing only the very best camp counselors to lead our youth and by providing a camp experience that is of the highest calibar.   </h3>
	<h1></h1>
<br>

</div>






</div>
